*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/src/bg-img.jpg);
    background-repeat: no-repeat;
    max-width: 25rem;
    margin: 4rem auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.age-calculator{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.birthday-field{
    text-align: center;
}
.age-calculator label{
    font-size: 20px;
}
.age-calculator ul{
    margin: 1rem 0 1.5rem 5rem;
}
.calculate-reset{
    display: flex;
    margin-left: 0;
    justify-content: space-around;
}
.calculate-btn, .reset-btn{
    padding: 8px 12px;
    border: none;
    box-shadow: 0 0 10px 4px #c55c5c;
    background-color: rgb(240, 77, 104);
    border-radius: 2px;
    color: #ffff;
}
.reset-btn{
    padding: 8px 18px;
    box-shadow: 0 0 10px 4px #2068c5;
    background-color: #2068c5;
}
.calculate-btn:hover, .reset-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}